{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Prateek</h3>
                <h4>phone no- 6268152256</h4>
                <h4>email-id -208r1a6645@cmrec.ac.in</h4>
                <h3>B Yashwant</h3>
                <h4>phone no- +91 99894 47736</h4>
                <h4>email id -218r5a6601@cmrec.ac.in</h4>
                <h3>K Charan Teja </h3>
                <h4>phone no-+91 93905 57977</h4>
                <h4>email id - 208r1a6628@cmrec.ac.in</h4>
                <h3>B Ramesh</h3>
                <h4>phone no 89780 01870</h4>
                <h4>email id - 218r5a6604@cmrec.ac.in</h4>

                
            </center>
            
        </div>
    </div>

</div>

<div>
<center>
    <h2>Review Form</h2>
    <form action="/submit222" method="post">
        <label for="textfield">Enter your text here:</label><br>
        <br>
        <input type="text" id="textfield" name="textfield" style="width: 30ch;height: 5ch;">
        <br><br>
        <input type="submit" value="Submit">
        <br><br>
    </form>
</center>


</div>

{% endblock body %}